:root {
  --brand-color: linear-gradient(to right, #29ABE2 0%, #8E98DF 25%, #CDA9E8 50%, #F2BBB7 75%, #FFFB93);
  --brand-color-80: linear-gradient(to right, rgba(41, 171, 226, 0.8) 0%, rgba(142, 152, 223, 0.8) 25%, rgba(205, 169, 232, 0.8) 50%, rgba(242, 187, 183, 0.8) 75%, rgba(255, 251, 147, 0.8));
  --brand-color-95: linear-gradient(to right, rgba(41, 171, 226, 0.95) 0%, rgba(142, 152, 223, 0.95) 25%, rgba(205, 169, 232, 0.95) 50%, rgba(242, 187, 183, 0.95) 75%, rgba(255, 251, 147, 0.95));
}

.swagger-ui {
  font-family: 'Inter', sans-serif !important;
  background-color: #040B13;
  padding: 3em;
}

.swagger-ui h2.title {
  background: var(--brand-color) !important;
  -webkit-background-clip: text !important;
  color: transparent !important;
  display: inline-block !important;
  font-weight: bold;
}

.swagger-ui small {
  display: none !important;
}

.swagger-ui span.url {
  display: none !important;
}

.swagger-ui div.scheme-container {
  background-color: transparent;
}

.swagger-ui div.auth-wrapper > button.btn.authorize {
  border-color: linear-gradient(to right, #29ABE2, #8E98DF 25%, #CDA9E8 50%, #F2BBB7 75%, #FFFB93) !important;
}

.swagger-ui div.opblock-description > div.renderedMarkdown > p,
.swagger-ui div.description > div.renderedMarkdown > p {
  color: white !important;
  font-size: medium !important;
}

.swagger-ui div.opblock-description > div.renderedMarkdown > p,
.swagger-ui div.description > div.renderedMarkdown > p > a {
  font-size: medium !important;
}

.swagger-ui a {
  background: linear-gradient(to right, #29ABE2, #8E98DF 25%, #CDA9E8 50%, #F2BBB7 75%, #FFFB93) !important;
  -webkit-background-clip: text !important;
  color: transparent !important;
  display: inline-block !important;
  cursor: pointer !important;
}

.swagger-ui span.servers-title,
.swagger-ui button.tablinks,
.swagger-ui td,
.swagger-ui div.response-col_links,
.swagger-ui div.opblock-description-wrapper > p {
  color: white !important;
}

.swagger-ui div.opblock-summary-description {
  color: white !important;
}

.swagger-ui button.authorization__btn > svg.unlocked {
  fill: white !important;
  opacity: 1 !important;
}

.swagger-ui svg.arrow {
  fill: white !important;
  margin-left: 15px;
}

.swagger-ui div.opblock.opblock-post,
.swagger-ui div.opblock.opblock-post.is-open {
  background: transparent !important;
  border: 1px solid #FFFB93 !important;
}


.swagger-ui div.opblock-summary.opblock-summary-post {
  border-color: #FFFB93 !important;
}

.swagger-ui button.btn.authorize {
  background: var(--brand-color-80) !important;
  border: 10px solid var(--brand-color) !important;
  color: #eaf2fb !important;
  border-radius: 6px !important;
  padding: 8px 16px !important;
  font-weight: 700;
}

.swagger-ui button.btn.authorize > span {
  font-weight: 700;
}

.swagger-ui button.btn.authorize:hover {
  background: var(--brand-color-95) !important;
  color: #17202b !important;
}

.swagger-ui button.btn.authorize:hover > svg {
  fill: #17202b !important;
}


.swagger-ui button.authorize > svg {
  fill: #eaf2fb !important;
}

.swagger-ui button.authorization__btn > svg {
  fill: #17202b !important;
}

.swagger-ui button.opblock-summary-control:focus {
  outline: none !important;
}

.swagger-ui div.opblock-section-header {
  background-color: #17202b !important;
}

.swagger-ui div.opblock-section-header > h4,
.swagger-ui div.tab-item > h4 {
  color: #FFFB93 !important;
}

.swagger-ui h4.opblock-title > span:after {
  background: #ffd52e !important;
}

.swagger-ui button.btn.try-out__btn {
  background: var(--brand-color-80) !important;
  border: 1px solid var(--brand-color) !important;
  color: #eaf2fb !important;
  border-radius: 6px !important;
  padding: 8px 16px !important;
  font-weight: 700;
}

.swagger-ui button.btn.try-out__btn:hover {
  border-color: transparent !important;
  color: #17202b !important;
  background: var(--brand-color-95) !important;
}

#root > div > div > div > div:nth-child(2) > div.scheme-container > section > div.auth-wrapper > div > div.modal-ux > div > div > div.modal-ux-content > div > form > div.auth-btn-wrapper > button.btn.modal-btn.auth.authorize.button

.swagger-ui textarea:focus {
  border: 1px solid transparent !important;
  background: #17202b !important;
  color: white !important;
}

.swagger-ui input {
  color: #17202b;
}

.swagger-ui h3.opblock-tag {
  pointer-events: none;
}

.swagger-ui .expand-operation {
  display: none;
}

.swagger-ui .parameter__name, 
.swagger-ui .parameter__type {
  color: white;
}

.swagger-ui .parameter__deprecated,
.swagger-ui .parameter__in {
  display: none;
}

.swagger-ui td.col.col_header.response-col_links,
.swagger-ui td.response-col_links {
  display: none;
}

.swagger-ui textarea.body-param__text {
  background: #17202b !important;
  border: 2px solid var(--brand-color) !important;
  color: #eaf2fb !important
}

.swagger-ui textarea.body-param__text:focus {
  background: white !important;
  color: #17202b !important;
}

.swagger-ui div > pre.curl.microlight {
  height: 200px !important;
  overflow: auto !important;
}

.swagger-ui div.model-example > div > div > div.highlight-code > pre {
  background: #17202b !important;
}

@media (max-width: 768px) {
  .swagger-ui {
    padding: 1em;
  }

  .swagger-ui button.btn.authorize > svg {
    display: none;
  }

  .swagger-ui button.btn.authorize > span {
    padding: 0;
  }

  .swagger-ui h2.title {
    font-size: x-large !important;
  }

  .swagger-ui div.opblock-description > div.renderedMarkdown > p,
  .swagger-ui div.description > div.renderedMarkdown > p {
    font-size: smaller !important;
  }

  .swagger-ui h3.opblock-tag {
    font-size: large !important;
    font-weight: bold;
  }

  .swagger-ui button.opblock-summary-control > span {
    font-size: small !important;
  }

  .swagger-ui button.opblock-summary-control > div.opblock-summary-description {
    font-size: 0.7em !important;
  }
}
